div.current-conditions-container
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: flex-start

div.forecast-container
  display: flex
  flex-flow: row nowrap
  justify-content: space-around

  div.forecast
    width: 100px
