{
  "presets": ["react", "@babel/preset-env"],
  "plugins": [
    [
      "transform-inline-environment-variables", {
        "include": [
          "NODE_ENV"
        ]
      }
    ],
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
