.weather-view-container
  margin: 8px
  padding: 8px
  background-color: #fefefe
  border: dotted 1px purple

.weather-view-button
  border: none
  background: transparent
  outline: none
  cursor: pointer
  padding: 10px 15px

  &:hover
    background: rgba(0,0,0,0.1)
